/* Yuanyuan: Style sheet for gamer page */
#GamerPage {
    background-image: url(../../../images/background.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

.footer {
    margin-top: 20%;
}

.welcomeGamerPage {
    color: white;
    margin-top: 30%;
    margin-left: 25%;
    margin-right: 25%;
}