/* Styles for store page for gaming company publicist */
/* Nathaniel */

#companyStoreContainer {
  background-image: url(../../../images/background.jpg);
  background-repeat: repeat;
  color: #fff;
}

.gameStoreTitle {
  padding-top: 20px;
  margin-left: 15%;
  font-family: "Raleway", sans-serif;
}

.storeGamesInfo1 {
  font-size: 18px;
  margin-left: 15%;
  font-family: "Raleway", sans-serif;
}

.storeGamesInfo2 {
  font-size: 18px;
  margin-left: 15%;
  font-family: "Raleway", sans-serif;
}

.storeGamesInfo3 {
  font-size: 18px;
  margin-left: 15%;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

.storeGamesFooter {
  margin-top: 30%;
  color: #fff;
}

.storeGamesFooter1 {
  margin-top: 1%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.storeGamesFooter2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
