/* Styles for store page for gaming company */
/* Nathaniel */

.gameStoreTitle {
  padding-top: 20px;
  text-align: center;
  font-weight: 510;
  font-size: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}