/* Styles for MyGames page for a gaming company publicist user */
/* Nathaniel */

#myGamesContainer {
  background-image: url(../../../images/background.jpg);
  background-repeat: repeat;
  color: #fff;
}

.myGamesTitle {
  padding-top: 20px;
  margin-left: 15%;
  font-family: "Raleway", sans-serif;
}

.myGamesInfo1 {
  font-size: 18px;
  margin-left: 15%;
  font-family: "Raleway", sans-serif;
}

.myGamesInfo2 {
  font-size: 18px;
  margin-left: 15%;
  font-family: "Raleway", sans-serif;
}

.myGamesInfo3 {
  font-size: 18px;
  margin-left: 15%;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

.myGamesFooter {
  margin-top: 30%;
  color: #fff;
}

.myGamesFooter1 {
  margin-top: 1%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.myGamesFooter2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
