/* Styles for PublishGame page for a gaming company publicist user */
/* Nathaniel */

#publishGameContainer {
  background-image: url(../../../images/background.jpg);
  background-repeat: repeat;
  background-size: cover;
  color: #fff;
}

.publishGameTitle {
  padding-top: 20px;
  margin-left: 20%;
  font-family: "Raleway", sans-serif;
}

.publishGameInfo1 {
  margin-left: 20%;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.publishGameInfo2 {
  margin-left: 20%;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.publishGameInfo3 {
  margin-left: 20%;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.publishGameInfo4 {
  margin-left: 20%;
  padding-bottom: 8px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.publishGameFooter {
  margin-top: 10%;
  color: #fff;
}

.publishGameFooter1 {
  margin-top: 1%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.publishGameFooter2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
