/* Styles for PublishGame page for a gaming company publicist user */
/* Nathaniel */

/*.myGamesTitle {
  padding-top: 20px;
  text-align: center;
  font-weight: 510;
  font-size: 30px;
  padding-bottom: 20px;
}*/