/* Yuanyuan:
    Style sheet for cart list */
.cartItems {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.gamerCartListTitle {
  margin-top: 20px;
  color: gainsboro;
  text-align: center;
}

.gamerCartListDescription {
  color: gainsboro;
  text-align: center;
  margin-bottom: 20px;
}
