/* Yuanyuan:
    Style sheet for cart items part */
.gamerCartItemContainer {
    background-color: rgba(169, 169, 169, 0.6);
    border-bottom: 2px solid gainsboro;
    border-top: 2px solid gainsboro;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartMainImg img {
    height: 180px;
    width: 180px;
}

.gamerCartItemTitle {
    color: gainsboro;
    font-size: 25px;
    font-weight: 600;
}

.gamerCartItemPublishedBy {
    color: gainsboro;
    font-size: 15px;
}

.gamerCartItemDescription {
    color: gainsboro;
    font-style: italic;
    font-size: 17px;
    width: 350px;
}

.gamerCartItemPrice {
    color: gainsboro;
    font-weight: bold;
    font-size: 25px;
}
