/* Yuanyuan:
    Style sheet for gamer store items */
.card {
    margin-top: 10px;
    background-color: #e1e7ec;
    border-radius: 7px !important;
    border-color: #DCDCDC;
    margin-bottom: 30px !important;
    left: 60%;
}

.card-title {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #e1e7ec;
}

.mainImg {
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle;
}

img {
    display: block;
    width: 100%;
    margin-bottom: 3px;
}

.btn-sm {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: white;
}