/* Yuanyuan:
    Style sheet for gamer store items */
.gamerStoreItemsContainer {
    background-color: rgba(169, 169, 169, 0.6);
    border-bottom: 2px solid gainsboro;
    border-top: 2px solid gainsboro;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainImg img {
    height: 180px;
    width: 180px;
}

.gamerStoreItemTitle {
    color: gainsboro;
    font-size: 25px;
    font-weight: 600;
}

.gamerStoreItemPublishedBy {
    color: gainsboro;
    font-size: 15px;
}

.gamerStoreItemDescription {
    color: gainsboro;
    font-style: italic;
    font-size: 17px;
    width: 350px;
}

.gamerStoreItemPrice {
    color: gainsboro;
    font-weight: bold;
    font-size: 25px;
}
