/* Styles for NavBar for gaming company main page */
/* Nathaniel */

.navbar-light {
  background-color: #eee;
  border-bottom: 2px solid #bbb;
}

.navbar-light ul {
  margin: 0;
  list-style: none;
}