/* Styles for login page */
/* Nathaniel */

.welcomeTitle {
  font-size: 55px;
  font-weight: 550;
  text-align: center;
  padding-top: 35px;
}

.welcomeSubTitle {
  text-align: center;
  font-size: 25px;
}

.loginFormContainer {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

#loginForm {
  border: 2px solid gainsboro;
  border-radius: 10px;
  width: 25%;
}

.loginTitle {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.loginError {
  text-align: center;
  color: red;
}

.userNameSection {
  padding: 10px;
}

.passwordSection {
  padding: 10px;
}

.roleSection {
  padding: 10px;
}

.loginSection {
  padding: 10px;
  text-align: center;
}

.navToRegisterSection {
  text-align: center;
  padding-bottom: 10px;
}