/* Styles for login page */
/* Nathaniel */

#loginContainer {
  background-image: url(../../../images/background.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.welcomeTitle1 {
  /*font-family: "Roboto", sans-serif;*/
  text-align: center;
  margin-top: 10%;
  color: #dcdcdc;
}

.welcomeTitle2 {
  /*font-family: "Roboto", sans-serif;*/
  text-align: center;
  color: #dcdcdc;
  font-size: 18px;
}

.loginBox {
  /*font-family: "Roboto", sans-serif;*/
  margin-top: 1%;
  margin-left: 33.5%;
  padding: 20px;
  color: #dcdcdc;
  background-color: rgba(169, 169, 169, 0.6);
}

.loginSection {
  margin-top: 1%;
  text-align: center;
}

.navToRegisterSection {
  margin-top: 1%;
  text-align: center;
}

.footerSection1 {
  margin-top: 1%;
  text-align: center;
}

.footerSection2 {
  margin-top: 1%;
  text-align: center;
}

.signInButton {
  background-color: #696969;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #dcdcdc;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #dcdcdc;
  text-align: center;
  transition: all 0.2s;
}

.register {
  background-color: #696969;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #dcdcdc;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #dcdcdc;
  text-align: center;
  transition: all 0.2s;
}

.loginHR {
  color: rgba(169, 169, 169, 0.6);
}

.signInButton:hover {
  color: #dcdcdc;
  background-color: rgba(255, 255, 255, 0);
  border: 0.1em solid #dcdcdc;
}

.register:hover {
  color: #dcdcdc;
  background-color: rgba(255, 255, 255, 0);
  border: 0.1em solid #dcdcdc;
}

input {
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0.2px 0.2px #888888;
  background-color: rgba(255, 255, 255, 0.6);
  font: 20px;
}

.footer {
  margin-top: 10%;
  color: #dcdcdc;
}

.loginTitle {
  /*font-family: "Roboto", sans-serif;*/
  text-align: center;
  color: #dcdcdc;
  font-size: 25px;
}

.loginError {
  text-align: center;
  color: #ff9a9a;
}
