/* Styles for register page */
/* Yuanyuan */

#registerContainer {
    background-image: url(../../../images/background.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.title {
    margin-left: 19%;
    margin-top: 3%;
    color: #fff;
    font-size: 45px;
    font-family: "Raleway", sans-serif;
}

.title2 {
    margin-left: 19%;
    color: #fff;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
}

.registerInfoBox {
    margin-left: 8px;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
}

.registerInfoBox div {
    font-family: "Raleway", sans-serif;
}

.registerBox {
    border-radius: 3px;
    margin-left: 20%;
    margin-top: 1%;
    padding: 20px;
    color: #fff;
    background-color: #757575;
}

.signUpContainer {
    margin-top: 1%;
}

.loginContainer {
    margin-top: 1%;
}

.footerSection1 {
    margin-top: 1%;
    text-align: center;
}

.footerSection2 {
    margin-top: 1%;
    text-align: center;
}

.signUpButton {
    background-color: #77c2ae;
    border-radius: 0.12em;
    box-sizing: border-box;
    color: #fff;
    width: 150px;
}

.signUpButton:hover {
    color: #fff;
    background-color: #68ab99;
}

.login {
    background-color: #77c2ae;
    border-radius: 0.12em;
    box-sizing: border-box;
    color: #fff;
}

.login:hover {
    color: #fff;
    background-color: #68ab99;
}

.footerRegister {
    margin-top: 10%;
    color: #fff;
}

.footerRegisterSection1 {
    margin-top: 1%;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.footerRegisterSection2 {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.registerTitle {
    font-size: 25px;
    padding-bottom: 10px;
}

.userName {
    padding-bottom: 15px;
}

.userName label {
    margin-bottom: 0.3rem;
}

.password {
    padding-bottom: 15px;
}

.password label {
    margin-bottom: 0.3rem;
}

.selectRole {
    padding-bottom: 15px;
}

.selectRole label {
    padding-bottom: 0px;
    margin-bottom: 0.3rem;
}

.gamingCompany {
    padding-bottom: 15px;
}

.gamingCompany label {
    margin-bottom: 0.3rem;
}
